.footer {
  display: flex;
  flex-direction: column;
}
.copy {
  background-color: var(--primary-color);
  text-align: center;
  font-size: 14px;
}
.wave {
  width: 100%;
}
@media (min-width: 950px) {
  .copy {
    font-size: 20px;
  }
}
