:root {
  --theme-color: white;
  --primary-color: #06d6a0;
  --secondary-color: #ffd166;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #ef476f;
  --menu-mobile-background-color: #eccfc3;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.contenedor-footer h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 4rem;
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-bottom: 25px;
  padding-top: 25px;
}
@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
